@import "~AliasModelSrc/variables_override";

.Breadcrumbs__Cnt {

    display: block;

    li {
      display: inline;
      &::after {
        content: " > ";
        white-space: pre;
      }
      &:last-child:after {
        content: '';
      }
    }

    list-style: none;
    padding: 10px 15px;
    background-color: $gray-lighter;
    border-radius: 4px;

    .active {
      color: $gray-light;
    }

    p {
      padding: 0;
      margin: 0;
      display: inline;
    }
}

@media only screen and (max-width: 600px) {
  .Breadcrumbs__Cnt {
    display: flex;
    flex-direction: column;

    li:after {
      content: '';
    }

    li:before {
      content: ' > ';
    }
  }

}
