@import "~AliasModelSrc/variables_override";

.DevInfo__cnt {
  font-size: 10px;
  color: $dev-color-pink;
  background-color: $dev-color-green;
  display: inline-block;
  padding: 0 5px;
  border-radius: 5px;
}
