@import "~AliasSrc/variables_override";


.GoodsSection__Cnt {
    .GoodsSection__chooseCatDialog {
        // font-family: roboto, monospace, arial;
        font-size: 30px;
        font-weight: bold;
        text-align: center;

        color: #c5c5c5;
        // text-shadow: 1px 1px 7px #757575;



    }
}
