@import "~aliasSrc/variables";


.ItemBrowser__container {
    padding: $dev-padding;
    background: rgba(0, 255, 0, $dev-opacity);

    .ItemBrowser__items-cont {
        display: flex;

        & > div:nth-child(2) {
            flex: 1 1 auto;
        }

    }
}
