@import "~aliasSrc/variables";


.ItemCategories__container {
    background: rgba(255, 0, 102, $dev-opacity);
    padding: $dev-padding;

    & > div:hover {
        cursor: pointer;
        background-color: red;
    }

}
