// bootstrap variables connected with custom


// override
$brand-primary: #006f00;
$navbar-inverse-bg: $brand-primary;
$component-active-color: #ee4;
$navbar-inverse-link-hover-color: #ee4;


// custom
$catalog-active-color: #ee4;
$dev-color-pink: #e200ae;
$dev-color-green: #aefdd5;


@import '~bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss';
$navbar-inverse-link-color: $gray-lighter;
