@import "~AliasModelSrc/variables_override";


.BarnPurchase__Cnt {
    &.table > tbody > tr > td,
    &.table > tbody > tr > th,
    &.table > tfoot > tr > td,
    &.table > tfoot > tr > th,
    &.table > thead > tr > td,
    &.table > thead > tr > th {
        border: 0;
    }

    & > tbody > tr.cat.prod {
        border-top: 1px solid $table-border-color;
    }

    & > tbody > tr.prod > td:not(:first-child){
        border-top: 1px solid $table-border-color;
    }

    & > tbody > tr > td:nth-child(7) {
        white-space: nowrap;
    }

    & > tbody > tr {
        cursor: pointer;
    }

}
