@import "~AliasModelSrc/variables_override";

.BarnPurchase__Cnt {

    .BarnPurchase__nodata {
        font-size: 30px;
        font-weight: bold;
        color: $gray-lighter;
    }

    .BarnPurchase__hideMe {
        display: none;
    }


    .BarnPurchase__controls {
        margin-bottom: 20px;
    }


    .BarnPurchase__table {
        &.table > tbody > tr > td,
        &.table > tbody > tr > th,
        &.table > tfoot > tr > td,
        &.table > tfoot > tr > th,
        &.table > thead > tr > td,
        &.table > thead > tr > th {
            border: 0;
        }

        &.table > thead > tr > th:first-of-type {
            width: 25px;
        }


        &.table > tbody {
            border: 0;
            border-top: 1px solid $gray-light;

            & > tr:first-child > td > span {
                font-style: italic;
                background-color: $gray-lighter;
            }

        }

        & > tbody > tr.BarnPurchaseTableCat__catGrouped > td:not(:first-of-type) {
            border-top: 1px solid $table-border-color;
        }

        // & > tbody > tr:not(.BarnPurchaseTableCat__catGrouped) {
        //     & > td:not(:nth-of-type(1)):not(:nth-of-type(2)) {
        //         // border-top: 1px solid blue;
        //         border-top: 1px solid $table-border-color;
        //     }
        // }

        & > tbody > tr > td:nth-child(4) {
            white-space: nowrap;
        }

        & > tbody > tr:not(:first-child) {
            cursor: pointer;
        }

    }

}
