@import "~aliasSrc/variables";


.Navigation__container {
    background: rgba(153, 153, 102, $dev-opacity);
    padding: $dev-padding;

    & nav {
        display: flex;
        justify-content: space-around;
    }
}
