@import "~AliasSrc/variables_override";


.Categories__cnt {
  ul {
    list-style-type: none;
  }



  .Categories__singleItem:hover, .Categories__singleSubitem:hover {
    background-color: $list-group-hover-bg;
    cursor: pointer;
  }

  .Categories__singleItem.active, .Categories__singleSubitem.active {
    background-color: $brand-primary;
    color: $catalog-active-color;
  }

  .Categories__singleItem, .Categories__singleSubitem {
    color: $brand-primary;
    border-radius: 3px;
  }

  .Categories__singleSubitem {
    padding: 5px 5px;
    font-size: smaller;
  }

  .Categories__singleItem {
    padding: 7px 12px;
  }


}
