@import "~AliasSrc/variables";


.GoodsList__container {
    .Good__price {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 140px;
    }
}
