@import "~AliasSrc/variables";


.GoodExpandedView__cnt {

  .GoodExpandedView__head {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    padding: 15px 10px 15px 10px;

    & > :last-child {
      padding-left: 20px;
    }
  }

}

@media only screen and (max-width: 600px) {
  .GoodExpandedView__cnt {

  }
}
