@import "~AliasSrc/variables";


.GoodExpandedView__cnt {

  .GoodExpandedView__head {
    display: flex;

    .GoodExpandedView__carouselBox {
      flex: 1 0 50%;
    }

    .GoodExpandedView__maininfo {
      flex: 1 0 50%;
    }
  }



}

@media only screen and (max-width: 600px) {
  .GoodExpandedView__cnt {

  }
}
