.Spinner__cnt {
    border-style: solid;
    border-color: brown;
    border-top-color: green;
    border-radius: 50%;
    z-index: 9999;
    margin: auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
