@import "~AliasModelSrc/variables_override";


.ControlledCarousel__cnt {

  .ControlledCarousel__imgCnt {
  	height: 50vh;
  }

  .ControlledCarousel__goodId{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: $body-bg;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
  }

}
